
<div class="header">
    <div class="header-logo">
        <img src="images/string-finger.jpg"/>

        <a href="#login" class="login-form-btn-top"ng-controller="MainCtrl"ng-cloak ng-show-auth="['logout','error']">Login</a>
        <a href="#" class="login-form-btn-top"ng-controller="MainCtrl"ng-cloak ng-show-auth="login" ng-click="logout()">Log Out</a>

    </div>
</div>


<div ng-cloak ng-show-auth="['logout','error']">
    <div class="container">
        <div class="form-modal">
            <div class="headertitle">
                <div class="title">STRING
                    <div class="subtitle">the ToDo app that replaces the string around your finger.</div>
                </div>

            </div>
            <nav>
                <div class="spacing"></div>

                <div class="login-form">

                    <div class="form-feedback"></div>
                    <button ng-click='goNext("/login")' class="btn btn-primary" ng-click="href">Log In</button>

                </div>
                </div>

                <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>

        </div>

    </div>




</div>















<div ng-show-auth="login" class="bigContainer"ng-controller="MainCtrl">
    <div class="chatbox">
            <div class="headertitle">
                <div class="today">This is what I need to do today</div>
                    <input class="todoInput"ng-model="newtodo" type="text"></input>
                <button class="new" type="submit" ng-click="addtodo()">Add</button>

            </div>


        <div class="resultsbox"></div>
            <div class="box">
                    <ul class="results" ng-repeat="(id, Todo) in list">
                        <div class="todoBox">{{Todo.body}}</div>
                        <button class="delete">complete</button>

                    </ul>

            </div>
    </div>



</div>

